/* h2 - слайдер
   h3 - акции
   h4 - преимущества, новости в блоге
   h5 - каталог
*/

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
       url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff'),
       url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* global styles */

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.375;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #323232;
}

.site-wrapper {
  background-color: #849d8f;
}

.btn-main {
  display: inline-block;
  padding: 11px 21px;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-image: linear-gradient(#f16743 0%, #c83725 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.btn-main--big {
  padding: 11px 40px;
  font-size: 3.2rem;
  line-height: 1.375;
  border-radius: 33px;
}

/* END: global styles */

/* layout */

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.header__content--left {
  float: left;
  max-width: 70%;
}

.header__content--right {
  float: right;
  max-width: 30%;
}

.social,
.menu,
.developer {
  float: left;
  width: 33%;
}

/* END: layout */

.logo {
  display: inline-block;
  width: 154px;
  height: 64px;
  margin-right: 24px;
  vertical-align: middle;
}

.nav {
  display: inline-block;
  vertical-align: middle;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  padding: 7px 14px;
  border-radius: 20px;
}

.nav__link {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  vertical-align: middle;
}

.nav__item:hover {
  background: #ffffff;
}

.nav__item:hover .nav__link {
  color: #333333;
}

.nav__sub-list {
  display: none;
}

.event,
.news {
  margin-left: -26px;
  margin-bottom: 40px;
  font-size: 0;
}

.event__item,
.news__item {
  display: inline-block;
  width: 526px;
  padding: 19px 17px;
  margin-left: 26px;
  font-size: 1.8rem;
  line-height: 1.222;
  text-align: right;
  vertical-align: top;
  color: #ffffff;
  border-radius: 12px;
}

.event__item--raspberry {
  background-color: #7b1a37;
  background-image: url('../img/bg/bg-raspberry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.event__item--chocolate {
  background-color: #43210f;
  background-image: url('../img/bg/bg-choco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.event__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.171;
  text-align: left;
}

.event__dscr {
  margin-top: 0;
  text-align: left;
}

.event .btn-main {
  margin-top: 27px;
}

.goods {
  margin-left: -26px;
  margin-bottom: 40px;
  font-size: 0;
}

.goods__item {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-left: 26px;
  vertical-align: top;
}

.goods__item .btn-main {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  z-index: 1;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

.goods__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 100%;
}

.goods__item:hover .btn-main {
  display: block;
}

.goods__item--featured::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-color: #ffffff;
  background-image: url('../img/icons/hit.jpg');
  border-radius: 50%;
}

.goods__img {
  width: 267px;
  height: 267px;
  margin-bottom: 19px;
  border-radius: 50%;
}

.goods__price {
  position: absolute;
  left: 0;
  top: 210px;
  margin: 0;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.5;
  color: #ffffff;
}

.goods__kg {
  font-size: 3.0rem;
}

.goods__dscr {
  text-align: center;
  margin-bottom: 8px;
}

.goods__dscr a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.375;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.advantages {
  margin-bottom: 40px;
}

.map {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
}

.map .container {
  position: relative;
  height: 100%;
}

.map__contacts {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  background-color: #ffffff;
}

.social {
  font-size: 0;
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url('../img/icons/sprite.png');
  background-repeat: no-repeat;
  box-shadow: inset 3px 3px 3px 3px rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  opacity: 0.8;
}

.social__link--tw {
  background-position: -109px 0;
}

.social__link--inst {
  background-position: -54px 0;
}

.social__link--fb {
  background-position: 0 0;
}

.social__link--vk {
  background-position: -166px 0;
}

.social__link:hover {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 3px 3px 3px 3px #ffffff;
  opacity: 1;
}
.social__link:active {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 2px 1px 0px #888888;
  opacity: 0.9;
}

/* Slider */

.slider__radio {
  display: none;
}

.slider__radio[value="radio-one"]:checked ~ .site-wrapper {
  background-color: #849d8f;
  background: url('../img/bg/ice-bg-1.png') no-repeat center 80px,
              radial-gradient(600px 600px at center 345px, #cdf4df 0%, #849d8f 100%) no-repeat;
}

.slider__radio[value="radio-two"]:checked ~ .site-wrapper {
  background-color: #8996a6;
  background: url('../img/bg/ice-bg-2.png') no-repeat center 80px,
              radial-gradient(600px 600px at center 345px, #c7daeb 0%, #8996a6 100%) no-repeat;
}

.slider__radio[value="radio-three"]:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background: url('../img/bg/ice-bg-3.png') no-repeat center 80px,
              radial-gradient(600px 600px at center 345px, #e6d2c8 0%, #9d8b84 100%) no-repeat;
}

.slider__label {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: middle;
}

.slider__label:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slider__radio[value="radio-one"]:checked ~* .slider__label[for="radio-one"] {
  background-color: #ffffff;
}

.slider__radio[value="radio-two"]:checked ~* .slider__label[for="radio-two"] {
  background-color: #ffffff;
}

.slider__radio[value="radio-three"]:checked ~* .slider__label[for="radio-three"] {
  background-color: #ffffff;
}

.slider {
  position: relative;
  margin-bottom: 40px;
}

.slider__slide {
  display: none;
  max-width: 700px;
  margin: 320px auto 0;
  text-align: center;
}

.slider__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 6.0rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.slider__thumbs {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.slider__radio[value="radio-one"]:checked ~* .slider__slide--one {
  display: block;
}

.slider__radio[value="radio-two"]:checked ~* .slider__slide--two {
  display: block;
}

.slider__radio[value="radio-three"]:checked ~* .slider__slide--three {
  display: block;
}

/* END: Slider */
