/* h2 - слайдер
   h3 - акции
   h4 - преимущества, новости в блоге
   h5 - каталог
*/

/* fonts */

/* colors */

/* layout */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

/* END: layout */

/* header */
/* END: header */

/* main */
/* END: main */

/* footer */
/* END: footer */
